.login-btn-area{
    margin: 20px;
}
.login-btn{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.nav-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 4.7em;
}
.nav-logo img{
    cursor: pointer;
}

.menu-list{
    display: flex;
    list-style-type: none;
}
.menu-list li{
    padding: 10px;
    cursor: pointer;
}
.menu-list-left-area{
    display: none;
}
.nav-btn{
    display: none;
    padding: 1em;
}
@media screen and (max-width: 1080px) {
    .nav-btn{
        display: block;
        position: absolute;
        top: 2px;
        left: 20px;
    }
    .menu-list-left-area {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: orange;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        overflow-y: auto;
        max-height: 100vh;
    }
    .menu-list-left-area.sidebar {
        width: 255px; /* sidebar 클래스가 추가되면 너비를 100px로 설정합니다. */
    }
}
.menu-list-left{
    list-style-type: none;
}
.menu-list-left li{
    padding: 10px;
    cursor: pointer;
}

.menu-area{
    display: none;
    justify-content: center;
}
@media screen and (min-width: 1080px) {
    .menu-area {
        display: flex;
        padding-top: 1em;
    }
    .nav-logo{
        padding-bottom: 0em;
    }
}
.search-area{
    
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
    
}
.search-area input{
    border: none;
    margin-left: 5px;
}
.search-area input:focus{
    outline:none
}
.close-btn{
    padding: 1em;
    position: absolute;
    top: 25px;
    left: 50px;
}

.prod-card {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card {
    border: none !important;
    margin-bottom: 10px;
}

.prod-card:hover  {
  transform: scale(1.05);
}

.new-product{
    font-size: 11px;
    height: 20px;
}

.choice{
    font-size: 11px;
    color: gray;
    font-weight: bold;
    height: 20px;
}

.product-img{
    display: flex;
    justify-content: flex-end;
}
.prod-btn{
    margin-top: 1em;
    width: 100%;
}
.prod-select{
    margin-top: 1em;
    width: 25%;
}
